.hydrated {
    visibility: inherit;
}
.ion-color-primary {
    --ion-color-base: var(--ion-color-primary, #3880ff)!important;
    --ion-color-base-rgb: var(--ion-color-primary-rgb, 56,128,255)!important;
    --ion-color-contrast: var(--ion-color-primary-contrast, #fff)!important;
    --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb, 255,255,255)!important;
    --ion-color-shade: var(--ion-color-primary-shade, #3171e0)!important;
    --ion-color-tint: var(--ion-color-primary-tint, #4c8dff)!important;
}

.chip-outline.ion-color {
    border-color: rgba(var(--ion-color-base-rgb),.32);
}

.ion-color {
    background: rgba(var(--ion-color-base-rgb),.08);
    color: var(--ion-color-shade);
}

.chip-outline {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.32);
    background: transparent;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 4px;
    margin-inline-start: 4px;
    -webkit-margin-end: 4px;
    margin-inline-end: 4px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-padding-start: 12px;
    padding-inline-start: 12px;
    -webkit-padding-end: 12px;
    padding-inline-end: 12px;
    --background: rgba(0,0,0,0.12);
    --color: rgba(0,0,0,0.87);
    border-radius: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -ms-flex-align: center;
    align-items: center;
    height: 32px;
    background: var(--background);
    color: var(--color);
    font-family: var(--ion-font-family,inherit);
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    overflow: hidden;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}