<ion-header>
    <ion-toolbar >
      <ion-searchbar (ngModel)="props.autocomplete.input" (ionInput)="updateSearchResults($event)" 
        placeholder="Search pupular Place"></ion-searchbar>
        <ion-list *ngIf="props.autocomplete && props.autocomplete.input" >
          <ion-item *ngFor="let item of props.autocompleteItems" (click)="selectSearchResult(item)">
            <ion-label>
            {{ item.description }}
            </ion-label>
          </ion-item>
        </ion-list>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-chip *ngIf="props.searchStartEndModel.start" color="primary">
      <ion-icon name="pin" color="primary"></ion-icon>
      <ion-label>{{props.searchStartEndModel.start.address}}</ion-label>
      <ion-icon name="close-circle" color="primary" ></ion-icon>
    </ion-chip>

    <ion-chip *ngIf="props.searchStartEndModel.end" color="danger">
      <ion-icon name="pin" color="danger"></ion-icon>
      <ion-label>{{props.searchStartEndModel.end.address}}</ion-label>
      <ion-icon name="close-circle" color="danger" ></ion-icon>
    </ion-chip>
    <ion-item-group *ngIf="props.searchStartEndModel.route" >
      <ion-item>
        <ion-label>{{props.searchStartEndModel.route.distance.text}}</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>{{props.searchStartEndModel.route.duration.text}}</ion-label>
      </ion-item>
    </ion-item-group>
        <ion-button shape="round" color="success" (click)="tryDirection($event)" > GO </ion-button>
        <ion-button shape="round" color="danger" (click)="close()" > Close </ion-button>
</ion-content>
