<ion-header>
    <ion-title>Detail</ion-title>
      <ion-button (click)="close()" slot="end" fill="clear" > Close </ion-button>
</ion-header>

<ion-content padding>
    <ion-chip color="primary">
      <ion-icon name="pin" color="primary"></ion-icon>
      <ion-label>{{this.props.from.address}}</ion-label>
      <ion-icon name="close-circle" color="primary" ></ion-icon>
    </ion-chip>

    <ion-chip color="danger">
      <ion-icon name="pin" color="danger"></ion-icon>
      <ion-label>{{this.props.to.address}}</ion-label>
      <ion-icon name="close-circle" color="danger" ></ion-icon>
    </ion-chip>
    <ion-item-group>
      <ion-item>
        <ion-label>{{this.props.route.distance.text}}</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>{{this.props.route.duration.text}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>ดูเส้นทางอื่น</ion-label>
      </ion-item>
    </ion-item-group>
</ion-content>
