<ion-header>
  <ion-toolbar>
    <ion-title>
      Shop
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let shop of shopList | async">
        <div>
          <ion-card  >
            <div *ngIf="true">
              <img src="assets/img/shop/food/shop-1.jpg"/>
              <ion-card-header>
                <a (click)="goToShop(shop)">
                  <ion-card-title>
                    <h3>{{shop.name}}</h3>
                  </ion-card-title>
                </a>
                <ion-card-subtitle>{{shop.desc}}</ion-card-subtitle>
              </ion-card-header>
            </div>
          </ion-card> 
        </div> 
      </ion-slide>
    </ion-slides>
 
</ion-content>