ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}

page-map {
    #map {
      height: 100%;
    }
}
.geolocation-btn{
  margin: 0px;
  padding: 0px;
}

.custom-modal-css {
  --border-radius: 25px!important;
  --max-height: 70%;
  --max-width: 90%;
  --background: var(--ion-background-color, rgba(0, 0, 0, 0.8)) !important;
}