<ion-header>
    <ion-toolbar >
        <ion-searchbar (ngModel)="autocomplete.input" (ionInput)="updateSearchResults($event)" placeholder="Search From"></ion-searchbar>
      </ion-toolbar>
</ion-header>

<ion-header>
    <ion-toolbar >
        <ion-searchbar (ngModel)="autocomplete.input" (ionInput)="updateSearchResults($event)" placeholder="Search To"></ion-searchbar>
      </ion-toolbar>
</ion-header>

<ion-list *ngIf="autocomplete" >
    <ion-item *ngFor="let item of autocompleteItems" (click)="selectSearchResult(item)">
      <ion-label>
      {{ item.description }}
      </ion-label>
    </ion-item>
  </ion-list>

<ion-content padding>
    <ion-button (click)="dismiss()" >
        <ion-icon slot="power" name="power"></ion-icon>
        Close
      </ion-button>
      
</ion-content>
